
.new-task__container {
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-sm);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} 

.new-task__field-container {
  padding: 1rem;
  background-color: var(--mantine-color-gray-1);
  border-radius: var(--mantine-radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 0.5rem;
}

.new-task__field-input {
  padding: 0.5rem;
  background-color: var(--mantine-color-gray-1);
  border-radius: var(--mantine-radius-sm);
}

.new-task__radio-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.new-task__radio-input {
  padding: 1rem;
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-sm);
  width: 100%;
}

.new-task__button {
  background-color: black;
  color: white;
  /* width: 50%; */
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
}